@mixin fuente-comun {
  font-family: "Inter", sans-serif;
  font-family: "Playpen Sans", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Sometype Mono", monospace;
}

/* Mixin para estilos de fondo comunes */
@mixin fondo-comun {
  background-color: #1c1c1c;
}

body {
  @include fuente-comun;
  @include fondo-comun;
}
  
  
  
  